body {
  background-image: url("https://i.ibb.co/z89GHmn/Untitled-design-29.png");
}
.app {
  display: flex;
  justify-content: center;
  align-items: center;
}
.title {
  display: flex;
  justify-content: center;
  margin-top: 50px;
}

@media only screen and (max-width: 600px) {
  body {
    background-image: url("https://i.ibb.co/XLRcvNS/mobile.png");
  }
}
